<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css?v=1.0">
    <title>Forum</title>
    <meta name="description" content="A forum to discuss various topics like Football, Basketball, Hockey, and more.">
</head>
<body>

    <header>
        <a href="/" class="header-link">
            <h1 class="forum-sign">Forum</h1>
        </a>
    </header>

    <div class="content-wrapper">
        <aside class="sidebar">
            <h3>Categories</h3>
            <ul>
                <li><a href="/category?name=Football">Football</a></li>
                <li><a href="/category?name=Basketball">Basketball</a></li>
                <li><a href="/category?name=Hockey">Hockey</a></li>
                <li><a href="/category?name=Other">Other</a></li>
            </ul>
        </aside>

        <main class="container">
            <div class="posts">
                {{range .Posts}}
                <article class="post">
                    <a href="/posts?id={{.ID}}">
                        <h2>{{.Title}}</h2>
                    </a>
                    <div class="categories">
                        <strong>Categories:</strong>
                        {{range .Categories}}
                            <span class="category">{{.}}</span>
                        {{end}}
                    </div>
                    <small>Posted by {{.Username}}</small>
                </article>
                {{else}}
                <p>No posts available.</p>
                {{end}}
            </div>
        </main>

        <aside class="auth-sidebar">
            {{if .Authenticated}}
            <div class="user-info">
                <i class="user-icon"></i> <span>{{.Username}}</span>
                <p>{{.Role}}</p>
            </div>
            <nav class="console-panel">
                {{ if eq .Role "admin" }}
                <a href="/admin_page" class="button button--console">Admin page</a>
                {{ end }}
                <a href="/user_profile" class="button button--console">My profile</a>
                <a href="/create_post" class="button button--console">Create Post</a>
                <a href="/liked_posts" class="button button--console">Liked Posts</a>
                <a href="/my_posts" class="button button--console">My Posts</a>
            </nav>
            <div class="user-info">
                <a href="/sign_out" class="button sign-out-button">Sign Out</a>
            </div>
            {{else}}
            <div class="auth-form">
                <h3>Sign In</h3>
                {{if .ErrorMessage}}
                    <p class="error">{{.ErrorMessage}}</p>
                {{end}}
                <form action="/sign_in" method="post">
                    <div class="input-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn">Sign In</button>
                </form>
                <button class="btn"><a href="/login">Authorize with Google</a></button>
                <button class="btn"><a href="/login_github">Authorize with Github</a></button>
                <p>Don't have an account? <a href="/sign_up">Sign Up</a></p>
            </div>
            {{end}}
        </aside>
    </div>

    <footer>
        <p>&copy; 2024 Forum. All rights reserved.</p>
    </footer>
</body>
</html>
